pkgbase = aureus
	pkgdesc = a minimal AUR helper
	pkgver = 1.0.1
	pkgrel = 1
	url = https://github.com/wsbankenstein/aureus
	arch = any
	license = GPL-3.0-or-later
	depends = bash
	depends = pacman
	depends = fzf
	depends = git
	depends = less
	depends = sed
	depends = gzip
	depends = jq
	source = aureus
	source = aureus-jq
	sha256sums = 55dee08066e0f9860bf2accc35663c123a18d4a301fbaf4dc2931f0a0046987c
	sha256sums = fd3b51632457bbc53f433d16605e3c1fd767dba665b4f3d476ef5ad92525b674

pkgname = aureus
