pkgbase = aureus
	pkgdesc = a minimal AUR helper
	pkgver = 1.3.2
	pkgrel = 1
	url = https://github.com/wsbankenstein/aureus
	arch = any
	license = GPL-3.0-or-later
	depends = bash
	depends = pacman
	depends = fzf
	depends = git
	depends = less
	depends = sed
	depends = gzip
	depends = jq
	depends = awk
	source = aureus
	source = aureus-jq
	sha256sums = e62e9dd09ab3fabf0cd4d1e1b9a31221f893e978475941cc606549eaec81fd5c
	sha256sums = fd3b51632457bbc53f433d16605e3c1fd767dba665b4f3d476ef5ad92525b674

pkgname = aureus
